/* main */

.main-page-banner {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
}

.main-page-container {
    text-align: center;   
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, 
.button:focus {
    background-color: #404bbf;
}

.second-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden; }

.benefits-container {
    display: block;
    margin: 0 auto;
    min-width: 1128px;
}

.container-icon-benefits {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color:#f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-benefits {
    margin: auto;
}

.second-title-benefits,
.team-list-our-team,
.list-our-portfolio {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.main-page-list-benefits {
    width: calc((100% - 72px) / 4);
}

.main-page-list-portfolio {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-portfolio,
.main-page-benefits,
.main-page-our-team {
    padding: 120px 0;
}

.our-team-container-name-position {
    padding: 32px 0;
    text-align: center;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    max-width: 264px;
}

.list-link-our-team{
    justify-content: center;
    display: flex;
    gap: 24px;
    margin: 0 auto;
}

.link-icon {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-our-team {
    fill: #f4f4fd;
}

.link-icon:hover,
.link-icon:focus {
    background-color: #404bbf;
}

.third-title { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.main-text-our-team {
    margin-bottom: 8px;
}

.team-list {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.main-page-our-team {
    background-color: #f4f4fd;
}

.list-our-portfolio {
    flex-wrap: wrap;
    row-gap: 48px;
}

.container-text-portfolio {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    width: 360px;
    height: 120px;
    padding: 32px 16px;
}

.cashless-payment-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    background-color: #4d5ae5;
    font-family: sans-serif;
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.transform-portfolio:hover .overlay {
    transform: translateY(0);
}

.main-page-list-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.container-img-portfolio {
    position: relative;
    overflow: hidden;
}

/* footer */

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.page-footer-container {
    max-width: 1128px;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.container-logo {
    margin-right: 120px;
}

.footer-text {
    color: #f4f4fd;
    max-width: 264px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.link-footer {
    display: flex;
    align-items: center;
    gap: 16px;
    fill: #f4f4fd;
}

.social-link-footer {
    max-width: 208px;
    margin-right: auto;
}

.footer-text-media {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

.footer-icon:hover,
.footer-icon:focus,
.button-footer:hover,
.button-footer:focus {
    background-color: #31d0aa;
}

.container-form-footer {
    margin-left: auto;
}

.form-footer {
    display: flex;
    gap: 24px;
}

.form-footer-label-input {
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #2e2f42;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    background-color: transparent;
    color: #ffffff;
}

.form-footer-label-input::placeholder {
    color: #ffffff;
    opacity: 1;
}

.form-footer-label-input:hover,
.form-footer-label-input:focus {
    border: 1px solid #31d0aa;
}

.button-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    min-width: 165px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    fill: #fff;
    color: #fff;
    cursor: pointer;
    border: none;
}

.icon-footer-button {
    margin-left: 16px;
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 999;
    flex-direction: column;

    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%) scale(1.5);
}

.button-modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:hover,
.button-modal-close:focus {
    background-color: #404bbf;
    fill: #fff;
    border: none;
}

.icon-modal-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-field {
    margin-bottom: 8px;
    border: none;
}

.form-field.last-field {
    margin-bottom: 16px;
}

.form-field.field-privacy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 24px;
}

.form-field-input {
    position: relative;
}

.form-input {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-input:hover .icon-modal,
.form-field-input:focus-within .icon-modal {
    fill: #4D5AE5;
}

.form-input:hover,
.form-input:focus {
    border-color: #4D5AE5;
}

.icon-modal {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-comment {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-comment:hover,
.text-comment:focus {
    border-color: #4D5AE5;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}


input:checked+label .span-privacy {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.span-privacy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.link-privacy {
    color: #4d5ae5;;
}